.my-element {
    width: 100px;
    height: 100px;
    background-color: #3880ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  