<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Ingrese sus datos para crear una cuenta </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">

    <div>
      <ion-list>
        <img src="../../../assets/img/login.webp" alt="">
        <ion-item> <ion-input label="Nombre:" placeholder="ingrese nombre"></ion-input></ion-item>
        <ion-item> <ion-input label="Apellido:" placeholder="ingrese apellido"></ion-input></ion-item>
        <ion-item> <ion-input label="Telefono:" placeholder="ingrese telefono"></ion-input></ion-item>
        <ion-item> <ion-input label="Correo:" placeholder="ingrese correo"></ion-input></ion-item>
        <ion-item > <ion-button expand="full" >grabar</ion-button> </ion-item>
        <ion-item > <ion-button expand="full" routerLink="/login">aceptar</ion-button> </ion-item>
        
      </ion-list>
    </div>
  </ion-content>
  