<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="usuario" (ngSubmit)="ingresar()">

    <ion-card>

      <ion-item>
        <img src="../../../assets/img/login.webp" alt="">
        <ion-label position="stacked">Correo</ion-label>
        <ion-input formControlName="correo" type="email" placeholder="Ingrese correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input formControlName="clave" type="password" placeholder="Ingrese contraseña"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="full" [disabled]="usuario.valid" >Ingresar</ion-button>
      <ion-button expand="full">Crear Cuenta</ion-button>
      <ion-button expand="full">Olvide mi contraseña</ion-button>
    </ion-card>
  </form>

</ion-content>